.App-header {
   min-height: 100vh;
   display: grid;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-logo {
   border: 1px solid red;
   pointer-events: none;
}

#design {
   /* https://easings.net/ */
   /* https://css-tricks.com/almanac/properties/a/animation/  */
   /* animation: name duration timing-function delay iteration-coun direction fill-mode play-state  */
   animation: logo-anim 50s ease-out 0s infinite alternate;
}

@keyframes logo-anim {
   from {
      transform: translateX(0);
   }

   to {
      transform: translateX(200px);
   }
}
